/* start variables */
:root {
  font-size: 62.5%;
}
/* end varibales */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  margin: 0 auto;
  padding: 0 15px;
}
html {
  scroll-behavior: smooth;
}
body {
  transition: 1s all;
  font-family: sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
input,
textarea,
input:focus,
textarea:focus {
  outline: none;
}
/* small*/
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium*/
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*large*/
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */
/* start components */

/* end components */
.map-container {
  height: 400px;
}
